body {
    background-color: brown;
    width: 500px;
}

h1 {
	color: gold;
}

span {
	color: cyan;
}

.description {
    font-weight: bold;
}

.description2 {
    color: goldenrod;
    font-weight: bold;
}

body {
    background-color: white;
    color: black;
}

.cat {
    float: right;
    width: 120px;
    height: 120px;
    margin-right: 20px;
    margin-top: 20px;
}

button {
    background-color: tomato;
    border: none;
    color: white;
    font-size: 10px;
    padding: 5px;
}

button:hover {
    background-color: rgb(182, 59, 38);
}
